*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilory;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;    
}

#nav{
    position: fixed;
    width: 100%;
    background-color: rgb(rgb(0, 195, 255), green, blue);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3{
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    font-size: 15px;
    margin-left: 2px;
    border-radius: 20px;
}
#intro{
    height: 50%;
    width: 100%;
    
    padding: 30px 50px;
}
#intro h1{
    font-size: 100px;
    letter-spacing: -7px;
    line-height: 90px;
}
#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#place h3, #place h4{
    font-size: 35px;
    font-weight: 600px;
}
#veg-image{
    height: 90%;
    width: 100%;
    background-image: url(https://unicityhealthcare.com/wp-content/uploads/2021/06/shopping-bag-full-of-fresh-vegetables-and-fruits-royalty-free-image-1128687123-1564523576.jpg);
    background-size: cover;
}
#about{
    height: 60%;
    width: 100%;
    background-color: rgb(241, 191, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    
    width: 40%;
    font-weight: 600;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -2px;
}
#about-part2{
     width: 35%;
     height: 100%;
     padding: 0px 50px;
     border-left: 2px solid #000;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
#about-part2 h3{
    font-size: 33px;
    font-weight: 600;
}
#icons{
    
}
#icons i{
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 10px;
}
#work{
    height: 80%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
} 

#work1{
    width: 35%;
    height: 100%;
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    border-right: 2px solid #000;

}

#work1 h3{
    font-size: 33px;
    font-weight: 600;
}
#work1 i{
    font-size: 35px;
}
#work2{
    height: 100%;
    width: 70%;
   
    padding: 0 50px;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid #000;

}
.work2-part .elem{
    width: 250px;
    height: 0%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
    padding: 40px;
}
 .work2-part .elem:nth-child(2){
    padding-left: 40px;
}
.work2-part .elem h4{
    font-size: 25px;
    margin-bottom: 2px;
    font-weight: 600;
}
.work2-part .elem p{
    font-size: 15px;
    font-weight: 500;
}