*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilory;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    
}
#nav{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
    

}
#btn2{
    border: none;
    background-color: orangered;
    color:#fff;
}
#main>h1{
    font-size: 90px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 370px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}
#img1{

    transform: translate(-50%,-50%) rotate(-20deg);
}
#img2{

    transform: translate(-50%,-50%) rotate(-40deg);
}
#img3{

    transform: translate(-50%,-50%) rotate(-60deg);
}
#img4{

    transform: translate(-50%,-50%) rotate(-75   deg);
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3 %;
    font-size: 17px;
}
